# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project specific
# Ignore PDF files and generated CSV files but keep directory structure
data/statements/*.pdf
data/statements/**/*.pdf
data/output/*.csv
data/output/**/*.csv

# Keep the data directories
!data/statements/
!data/output/

# Don't commit my personal config file
config.yml

# unfinished script to help with OCR coordinate configuration
get_coords.py

